.chat  {
    position:relative;
    display:flex;
    flex-direction:row;
    height:100vh;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    .messages{
        flex: 1;
    }

    .input{
        position:absolute;
        bottom:0;
        flex:0;
    }
}