@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1647014399224') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yongyan:before {
  content: "\f00f5";
}

.icon-denglu:before {
  content: "\e621";
}

.icon-zhuce:before {
  content: "\e683";
}

.icon-yuechi:before {
  content: "\eae6";
}

.icon-logindenglu:before {
  content: "\e6dd";
}

