@font-face {
  font-family: "loginIconfont";
  src: url("./font/iconfont.ttf") format("truetype");
}

.login {
  transition: all 1s;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  
  .iconfont {
    font-family: "loginIconfont" !important;
    font-size: 16px;
    font-style: normal;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .loginBar {
    position: absolute;
    margin: auto;
    top:0;
    left:0;
    bottom: 0;
    right:0;

    display: flex;
    height: 400px;
    width: 830px;
    padding: 20px 24px 24px 80px;
    border-radius: 200px;
    justify-content: space-between;
    background-color: #fff;
    box-shadow:0px 0px 40px #002fa7,
      inset 0px 0px 30px #bbbbbb ;

    .info {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 440px;

      .title {
        height: 60px;
        line-height: 60px;
        font-size: 24px;
        font-weight: bold;
        flex: 0;
      }

      .changeType {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        cursor: pointer;
        flex: 0;
        user-select: none;

        &:hover {
          color: rgb(49, 120, 201);
        }
      }

      .inputBars {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-around;
      }
    }

    .logButton {
      height: 260px;
      width: 260px;
      justify-content: center;
      line-height: 260px;
      border-radius: 50%;
      margin: auto 0;

      .iconfont {
        font-size: 80px;
        font-weight: lighter;
      }

      &:hover {
        box-shadow: inset 0 0 10px #5000b8,
        inset 0 0 40px 5px #bbbbbb,
        0 0 20px #5000b8;
      }

      .ant-spin-dot{
        font-size: 70px;

        .ant-spin-dot-item{
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

.logged{
  transition: all 2s;
  visibility: hidden;

  .loginBar{
    opacity: 0;
  }
}