@font-face {
  font-family: "loginIconfont";
  src: url("./font/iconfont.ttf") format("truetype");
}

.login {

  transition: all 1s;
  
  .iconfont {
    font-family: "loginIconfont" !important;
    font-size: 16px;
    font-style: normal;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .loginBar {
    position: absolute;
    margin: auto;
    top:0;
    left:0;
    bottom: 0;
    right:0;

    display: flex;
    align-items: center;
    height: 400px;
    width: 800px;
    padding: 20px 24px 24px 60px;
    border-radius: 200px;
    justify-content: space-between;
    box-shadow:0px 0px 20px #2fcfd4;

    .info {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 440px;

      .title {
        height: 60px;
        line-height: 60px;
        font-size: 24px;
        font-weight: bold;
        flex: 0;
      }

      .changeType {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        cursor: pointer;
        flex: 0;
        user-select: none;

        &:hover {
          color: rgb(49, 120, 201);
        }
      }

      .inputBars {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-around;
      }
    }

    .logButton {
      height: 260px;
      width: 260px;
      justify-content: center;
      line-height: 260px;
      border-radius: 50%;
      margin: auto 0;

      .iconfont {
        font-size: 80px;
        font-weight: lighter;
      }

      &:hover {
        box-shadow: inset 0 0 10px #40a3e6,
        0 0 10px #40a3e6,;
      }
    }
  }
}
